:root{
    --black: rgb(0, 0,0);
    --grey:rgb(179,179,179);
    --stroke_grey:rgb(204,204,204);
}

@font-face {
    font-family: haas_grot_disp;
    src: url(fonts/NeueHaasGrotDisp_55Roman.otf);
    font-weight: 200;
}

@font-face {
    font-family: haas_grot_disp;
    src: url(fonts/NeueHaasGrotDisp_56Italic.otf);
    font-weight: 300;
}

@font-face {
    font-family: atlas;
    src: url(fonts/Atlas_Grotesk_Regular.otf);
    font-weight: 200;
}

@font-face {
    font-family: tacite;
    src: url(fonts/Tacite.otf);
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:var(--black);
    margin: auto;
}

h1 {
    font-family: tacite;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-transform: uppercase;
}

p {
    font-family: haas_grot_disp;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-decoration:none;
}

a {
    text-decoration: none;
    font-family: haas_grot_disp;
    font-weight: 200;
    color: var(--grey);
    font-size: 16px;
    transition: ease-in-out;
}

a:after {
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}

header {
    background-color:var(--black);
    border-bottom: 1.5pt solid var(--stroke_grey);
    display: block;
    overflow: hidden;
}

.sticky_header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%
}  

#header_slider {
    overflow:hidden;
	position: relative;
}

#header_slide_track {
    animation: scroll_to_left 17.14s linear infinite;
    animation-delay: 6s;
    display: flex;
    width: 300%;
}

.header_slide {
    width: 33.33%;
}

.header_text {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

@keyframes scroll_to_left {
	0% { transform: translateX(0); }
	15%, 50% { transform: translateX(-33.33%)}
	65%, 100% { transform: translateX(-66.66%)}
}

.sticky_header {
    position: fixed;
    top: 0;
    width: 100%
  }

#page_title{
    flex: 1;
}

#page_description {
    flex: 2;
}

#menu_desktop{
    display: flex;
    align-items: center;
    flex: 2;
    max-width: 600px;
}

#menu_desktop ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#menu_desktop li {
    list-style-type: none;
    display: inline-block;
}

#menu_desktop li a {
    display: block;
    /*transition: 0.2s;
    cursor: pointer;*/
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

#left {
    width: 50%;
}

#right {
    width: 50%;
}

#left .project {
    align-items: flex-end;
}

.project {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.project_slider {
    position: relative;
    width: 83%;
    max-height: 75vh;
    display: inline-block;
    border: 1.5pt solid var(--stroke_grey);
    overflow: hidden;
    border-bottom: none;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#left .project:first-of-type .project_slider{
    border-top: unset;
}

#right .project:first-of-type .project_slider{
    border-top: unset;
}

.line {
    width: 100%;
    border-top: 1.5pt solid var(--stroke_grey);
}

.project_slide{
    width: 100%;
}

.description {
    width: 80%;
    padding: 1.5%;
    background-color: var(--black);
    border: 1.5pt solid var(--stroke_grey);
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.icon_plus {
    padding-right: 20px;
    width: 2vw;
    min-width: 10px;
}

.icon_plus img{
    width: 100%;
}
  
.description p {
    text-transform: uppercase;
}

footer {
    border-top: 1.5pt solid var(--stroke_grey);
    position:fixed;
    z-index: 1;
    bottom:0px;
    background-color: var(--black);
    width: 100%;
}


#footer_slider {
    overflow:hidden;
	position: relative;
}

#footer_slide_track {
    animation: scroll_to_right 17.14s linear infinite;
    animation-delay: 6s;
    display: flex;
    width: 300%;
    transform: translateX(-66.66%);
}

.footer_slide {
    width: 33.33%;
}

@keyframes scroll_to_right {
	0% { transform: translateX(-66.66%); }
	15%, 50% { transform: translateX(-33.33%)}
	65%, 100% { transform: translateX(0%)}
}

#footer_content {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.social_media {
    display: flex;
    justify-content: space-between;
}

.social_media h1 {
    margin-right: 20px;
}


