:root{
    --black: rgb(0, 0,0);
    --grey:rgb(179,179,179);
    --stroke_grey:rgb(204,204,204);
}

/* Fonts */

@font-face {
    font-family: haas_grot_disp;
    src: url(fonts/NeueHaasGrotDisp_55Roman.otf);
    font-weight: 200;
}

@font-face {
    font-family: haas_grot_disp;
    src: url(fonts/NeueHaasGrotDisp_56Italic.otf);
    font-weight: 300;
}

@font-face {
    font-family: atlas;
    src: url(fonts/Atlas_Grotesk_Regular.otf);
    font-weight: 200;
}

@font-face {
    font-family: tacite;
    src: url(fonts/Tacite.otf);
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color:var(--black);
    margin: auto;
}

/* Text and Links */

h1 {
    font-family: tacite;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-transform: uppercase;
}

h2 {
    font-family: haas_grot_disp;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 3px;
}

p {
    font-family: haas_grot_disp;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-decoration:none;
}

a {
    text-decoration: none;
    font-family: haas_grot_disp;
    font-weight: 200;
    color: var(--grey);
    font-size: 16px;
    transition: ease-in-out;
}

a:after {
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.active_page {
    text-decoration: underline;
    text-underline-position: under;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.highlight {
    font-family: tacite;
    font-weight: 200;
}

.italic {
    font-weight: 300;
}

@-webkit-keyframes shine {
  from {-webkit-mask-position: 150%;}
  to { -webkit-mask-position: -50%;}
}

/* Shapes */

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
    max-width: 1920px;
    left: 50%;
    transform: translateX(-50%);
    border: 1.5pt solid var(--stroke_grey);
}

canvas {
  width: 100vw;
  height: 100vh;
}

/* Header */

header {
    max-height: 11vh;
    background-color:var(--black);
    border-bottom: 1.5pt solid var(--stroke_grey);
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
}

#header_slider {
    overflow:hidden;
	position: relative;
}

#header_slide_track {
    animation: scroll_to_left 25s linear infinite;
    animation-delay: 8.75s;
    display: flex;
    width: 300%;
}

.header_slide {
    width: 33.33%;
}

.header_text {
    width: 96%;
    margin: auto;
    display: flex;
    align-items: baseline;
    padding-top: 16px;
    padding-bottom: 16px;
}

.page_title {
    margin-right: 65px;
}

.page_description {
    flex: 1;
    margin-top: 0.2em;
}

@keyframes scroll_to_left {
	0% { transform: translateX(0); }
	15%, 50% { transform: translateX(-33.33%)}
	65%, 100% { transform: translateX(-66.66%)}
}

.menu_desktop{
    float: right;
}

.menu_desktop ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu_desktop li {
    list-style-type: none;
    display: inline-block;
    margin-left: 35px;
}

.menu_desktop li a {
    display: block;
}

/* Projects content */

#content {
    position: absolute;
    max-width: 1920px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#content.open_about {
    display: flex;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#projects.open_about {
    display: block;
    width: 51%;
    height: 100vh;
    overflow-y: scroll;
}

#projects.open_about::-webkit-scrollbar {
    display: none;
}

#left, #right {
    width: 50%;
}

#left .project {
    align-items: flex-end;
}

#right.open_about .project {
    align-items: flex-end;
}

#left.open_about, #right.open_about {
    width: 100%;
}

.project {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.project_slider {
    position: relative;
    width: 94%;
    max-height: 78vh;
    display: inline-block;
    border: 1.5pt solid var(--stroke_grey);
    overflow: hidden;
    border-bottom: none;
}

#left .project_slider, #left .description {
    margin-right: 2%;
    margin-left: 4%;
}


#right .project_slider, #right .description {
    margin-left: 2%;
    margin-right: 4%;
}

#left.open_about .project_slider {
    margin-right: 4%;
    width: 92%;
}

#right.open_about .project_slider {
    margin-left: 4%;
    width: 92%;
}

#left .project:first-of-type .project_slider{
    border-top: unset;
}

#right .project:first-of-type .project_slider{
    border-top: unset;
}

.line {
    width: 100%;
    border-top: 1.5pt solid var(--stroke_grey);
}

.project_slide{
    width: 100%;
}

.description {
    width: 91%;
    padding: 1.5%;
    background-color: var(--black);
    border: 1.5pt solid var(--stroke_grey);
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left.open_about .description {
    margin-right: 4%;
    width: 89%;
}

#right.open_about .description {
    margin-left: 4%;
    width: 89%;
}

.icon_plus {
    padding-right: 20px;
    width: 2vw;
    min-width: 10px;
}

.icon_plus img{
    width: 100%;
}
  
.description p {
    text-transform: uppercase;
}

/* About section */

#about {
    display: none;
    width: 47%;
    height: 100vh;
    overflow-y: scroll;
    border: 1.5pt solid var(--stroke_grey);
}

#about::-webkit-scrollbar {
    display: none;
}

#work_areas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#work_areas p {
    display: inline-block;
}

#catarina_description p {
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#about img {
    width: 100%;
}

#details {
    display: flex;
}

#details>div {
    width: 33.3333%;
    border-right: 1.5pt solid var(--stroke_grey);
    padding-top: 20px;
}

#details div:last-of-type {
    border: unset;
}

#details>div>h1:first-of-type {
    margin-bottom: 16px;
}

.details_block {
    margin-bottom: 16px;
}

/* Footer */

footer {
    max-height: 11vh;
    border-top: 1.5pt solid var(--stroke_grey);
    position:fixed;
    z-index: 1;
    bottom:0px;
    background-color: var(--black);
    width: 100%;
    max-width: 1920px;
}


#footer_slider {
    overflow:hidden;
	position: relative;
}

#footer_slide_track {
    animation: scroll_to_right 25s linear infinite;
    animation-delay: 8.75s;
    display: flex;
    width: 300%;
    transform: translateX(-66.66%);
}

.footer_slide {
    width: 33.33%;
}

@keyframes scroll_to_right {
	0% { transform: translateX(-66.66%); }
	15%, 50% { transform: translateX(-33.33%)}
	65%, 100% { transform: translateX(0%)}
}

.footer_content {
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.social_media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social_media h1 {
    margin-right: 20px;
}


