:root{
    --black: rgb(0, 0,0);
    --grey:rgb(179,179,179);
    --stroke_grey:rgb(204,204,204);
}

@font-face {
    font-family: haas_grot_disp;
    src: url(fonts/NeueHaasGrotDisp_55Roman.otf);
    font-weight: 200;
}

@font-face {
    font-family: haas_grot_disp;
    src: url(fonts/NeueHaasGrotDisp_56Italic.otf);
    font-weight: 300;
}

@font-face {
    font-family: atlas;
    src: url(fonts/Atlas_Grotesk_Regular.otf);
    font-weight: 200;
}

@font-face {
    font-family: tacite;
    src: url(fonts/Tacite.otf);
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:var(--black);
    margin: auto;
}

h1 {
    font-family: tacite;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-transform: uppercase;
}

p {
    font-family: haas_grot_disp;
    font-weight: 200;
    font-size: 16px;
    color: var(--grey);
    text-decoration:none;
}

a {
    text-decoration: none;
    font-family: haas_grot_disp;
    font-weight: 200;
    color: var(--grey);
    font-size: 16px;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

canvas {
  width: 100vw;
  height: 100vh;
}

header {
    background-color:var(--black);
    border-bottom: 1.5pt solid var(--stroke_grey);
}

.sticky_header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%
}  

#header_text {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    left: -85%;
    animation-name: slide_from_right;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide_from_right {
    0% {left: -85%;}
    26%, 74% {left: 7.5%;}
    100% {left: 100%;}
}

.sticky_header {
    position: fixed;
    top: 0;
    width: 100%
  }

#page_title{
    flex: 1;
}

#page_description {
    flex: 2;
}

#menu_desktop{
    display: flex;
    align-items: center;
    flex: 2;
    max-width: 600px;
}

#menu_desktop ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#menu_desktop li {
    list-style-type: none;
    display: inline-block;
}

#menu_desktop li a {
    display: block;
    /*transition: 0.2s;
    cursor: pointer;*/
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

#left {
    width: 50%;
}

#right {
    width: 50%;
}

#left .project {
    align-items: flex-end;
}

.project {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.project_slider {
    position: relative;
    width: 83%;
    max-height: 75vh;
    display: inline-block;
    border: 1.5pt solid var(--stroke_grey);
    overflow: hidden;
    border-bottom: none;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

#left .project:first-of-type .project_slider{
    border-top: unset;
}

#right .project:first-of-type .project_slider{
    border-top: unset;
}

.line {
    width: 100%;
    border-top: 1.5pt solid var(--stroke_grey);
}

.project_slide{
    width: 100%;
}

.description {
    width: 80%;
    padding: 1.5%;
    background-color: var(--black);
    border: 1.5pt solid var(--stroke_grey);
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.icon_plus {
    padding-right: 20px;
    width: 2vw;
    min-width: 10px;
}

.icon_plus img{
    width: 100%;
}
  
.description p {
    text-transform: uppercase;
}

footer {
    border-top: 1.5pt solid var(--stroke_grey);
    position:fixed;
    z-index: 1;
    bottom:0px;
    background-color: var(--black);
    width: 100%;
}

#footer_content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    left: 100%;
    position: relative;
    animation-name: slide_from_left;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide_from_left {
    0% {left: 100%;}
    26%, 74% {left: 7.5%;}
    100% {left: -85%;}
}

.social_media {
    display: flex;
    justify-content: space-between;
}

.social_media h1 {
    margin-right: 20px;
}


